@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-switch {
  @apply w-fit h-fit bg-AeroBlue rounded-full flex justify-between items-center p-1 cursor-pointer transition duration-300;
}

.switch-state {
  @apply w-fit px-2 py-1 space-x-1 rounded-full flex justify-center items-center font-medium text-[10px] md:text-xs transition duration-500;
}

.table {
  @apply bg-CaribbeanGreen text-white font-semibold;
}

.chart {
  @apply bg-CaribbeanGreen text-white font-semibold;
}

@font-face {
  font-family: "test-sohne-regular";
  src: url(./assets/fonts/test-sohne/test-sohne-buch.otf);
}

@font-face {
  font-family: "test-sohne-medium";
  src: url(./assets/fonts/test-sohne/test-sohne-kraftig.otf);
}

@font-face {
  font-family: "test-sohne-light";
  src: url(./assets/fonts/test-sohne/test-sohne-leicht.otf);
}

@font-face {
  font-family: "test-sohne-extralight";
  src: url(./assets/fonts/test-sohne/test-sohne-extraleicht.otf);
}

@font-face {
  font-family: "test-sohne-bold";
  src: url(./assets/fonts/test-sohne/test-sohne-fett.otf);
}

@font-face {
  font-family: "test-sohne-semibold";
  src: url(./assets/fonts/test-sohne/test-sohne-Halbfett.otf);
}

body {
  font-family: "test-sohne-regular";
}

.font-test-sohne-bold {
  font-family: "test-sohne-bold";
}
.font-test-sohne-semibold {
  font-family: "test-sohne-semibold";
}

.font-test-sohne-regular {
  font-family: "test-sohne-regular";
}

.font-test-sohne-medium {
  font-family: "test-sohne-medium";
}

.font-test-sohne-light {
  font-family: "test-sohne-light";
}

.font-test-sohne-extralight {
  font-family: "test-sohne-extralight";
}

.slide_bg {
  background: url(./assets//icons/slides_bg_img.svg) no-repeat right 10% top 10%;
}

.get_in_touch_hero_section_bg {
  background: url(./assets/images/get_in_touch_hero_section_bg.svg) no-repeat
    right 0% top 10%;
}

.faq_hero_section_bg {
  background: url(./assets/images/faq_hero_section_bg.svg) no-repeat right 0%
    top 10%;
}

.faq_hero_section_bg_2 {
  background: url(./assets/images/faq_hero_section_bg_2.svg) no-repeat left 0%
    top 10%;
}

.faq_hero_section_bg_3 {
  background: url(./assets/images/faq_hero_section_bg_3.svg) no-repeat left 0%
    top 40%;
}
.faq_hero_section_bg_4 {
  background: url(./assets/images/faq_hero_section_bg_4.svg) no-repeat right 0%
    top 65%;
}

.signup_hero_section_bg {
  background: url(./assets//icons/auth_bg_line.svg) no-repeat right 10%;
}

.signin_hero_section_bg {
  background: url(./assets//icons/auth_bg_line.svg) no-repeat right 10%;
}

.slide,
.slides {
  border-radius: 50%;
  animation: scroll 60s linear infinite;
}
.slides div {
  width: 10rem !important;
}

.slide div {
  width: 20rem !important;
}

.transition_duration {
  transition-duration: 3000ms;
}

.home_hero_bg_img {
  background-image: linear-gradient(to bottom, transparent, #fff),
    url("./assets/images/home_hero_bg_img_real.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.feature_hero_bg_img {
  background-image: linear-gradient(to bottom, transparent, #fff),
    url("./assets/images/feature_hero_bg_img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

.framework_iso27001_hero_bg {
  background: linear-gradient(
    206deg,
    rgba(255, 200, 127, 0.19) 16.3%,
    rgba(255, 199, 199, 0.19) 85.91%
  );
}

.framework_soc2_hero_bg {
  background: linear-gradient(
    206deg,
    rgba(189, 139, 255, 0.19) 16.3%,
    rgba(255, 199, 199, 0.15) 85.91%
  );
}

.framework_pcidss_hero_bg {
  background: linear-gradient(
    206deg,
    rgba(8, 204, 133, 0.19) 16.3%,
    rgba(255, 218, 166, 0.19) 85.91%
  );
}

.framework_ndpr_hero_bg {
  background: linear-gradient(
    206deg,
    rgba(255, 86, 86, 0.12) 16.3%,
    rgba(255, 218, 166, 0.19) 85.91%
  );
}

.framework_integration_hero_bg {
  background: linear-gradient(
    206deg,
    rgba(255, 86, 86, 0.12) 16.3%,
    rgba(255, 218, 166, 0.19) 85.91%
  );
}

.framework_about_us_hero_bg {
  background: linear-gradient(
    268deg,
    rgba(66, 101, 255, 0.19) 7.25%,
    rgba(101, 209, 255, 0.14) 94.26%
  );
}

.framework_blog_us_hero_bg {
  background: linear-gradient(
    269deg,
    rgba(255, 200, 127, 0.19) 30.65%,
    rgba(255, 200, 127, 0.19) 95.71%
  );
}

.framework_pricing_hero_bg {
  background: linear-gradient(
    268deg,
    rgba(66, 101, 255, 0.19) 7.25%,
    rgba(101, 209, 255, 0.14) 94.26%
  );
}

.connect_your_infastructure_hero_bg_img {
  background-image: linear-gradient(#fff, transparent, #fff),
    url("./assets/images/home_hero_bg_img_real.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.class_name {
  z-index: 1;
}

.startup_right_border_dashed {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #08cc85;
}

.growth_right_border_dashed {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #cfabff;
}

.pricing_hero_bg_line {
  background: url("./assets/images/pricing_hero_section_line.svg") no-repeat
    left 0% top 80%;
  background-size: contain;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.fadeInClass {
  animation-name: fadeIn;
  animation-duration: 10s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
